@media screen and (max-width: 1024px) {
  
}
/* IPAD PRO + IPAD XOAY NGANG */
@media screen and (min-width: 993px) and (max-width: 1267px) {
  
}
/* IPAD PRO */
@media screen and (width: 1024px) {
}
/* DT PLUS XOAY NGANG */
@media screen and (min-width: 769px) and (max-width: 992px) {
}
/* IPAD */
@media screen and (width: 768px) {
}
/* IPAD TRỞ XUỐNG */
@media screen and (max-width: 768px) {
  
}
/* DT XOAY NGANG */
@media screen and (min-width: 641px) and (max-width: 767px) {
}
/*SS XOAY NGANG */
@media screen and (width: 640px) {
  
}
/* IP 6/8 PLUS TRỞ XUỐNG */
@media screen and (max-width: 640px) {
  .cursor {
    display: none;
  }
  header .header__leftContent {
    margin: 0px 0px 0px 15px;
  }
  header .header__rightContent {
    margin: 0px 15px 0px 0px;
  }
  .video .homeLoopVideo__bg {
    width: 300px;
    height: 300px;
    background: transparent;
    margin: 0px;
  }
  .home {
    align-items: center;
    justify-content: flex-end;
  }
  .home .home__listContent {
    width: 100%;
    margin: 0px 0px 125px 0px;
  }
  .home .content__item {
    text-align: center;
  }
  ::-webkit-scrollbar {
    width: 1;
    opacity: 1;
    transition: 0.4s;
  }
  ::-webkit-scrollbar:hover {
    opacity: 1;
    transition: 0.4s;
  }
  ::-webkit-scrollbar-track {
    background: #C5C7CD;
  }
  ::-webkit-scrollbar-thumb {
    background: #161F38;
  }
}
/* IP 5 XOAY NGANG */
@media screen and (min-width: 568px) {
}
/* SAMSUNG ĐỜI CŨ */
@media screen and (max-width: 360px) {
}
/* IP 5 */
@media screen and (max-width: 320px) {
}
