/* LARGE SCREEN */

@media screen and (min-width: 1824px) {}

@media screen and (max-width: 1200px) {
    .c-scrollbar_thumb {
        width: 5px;
    }
    .cursor {
        display: none !important;
    }
    .page {
        min-height: 100vh;
        height: auto;
        margin: 0px 0px 30vh 0px;
    }
    .pageWrap {
        flex-direction: column;
    }
    .project__wrap,
    .story__wrap {
        flex-direction: column;
    }
    .project__wrap .wrap__listProject,
    .story__wrap .wrap__listStory {
        flex-direction: column;
        height: auto;
    }
    .project__wrap .wrap__title,
    .story__wrap .wrap__title {
        height: auto;
    }
    .intro__wrap {
        flex-direction: column;
    }
    .intro__wrap .img__title {
        top: 45vh;
        bottom: unset;
        left: 10vw;
        font-size: 9vh;
    }
    .intro__wrap .img__backgroundAvatar {
        width: 90vh;
        height: 90vh;
        top: -100px
    }
    .intro__wrap .wrap__content {
        padding: 100vh 25px 0px 25px;
        text-align: center;
    }
    .intro__wrap .item__textIntro {
        font-size: 2.5vh;
        line-height: 35px;
    }
    .menu.open .menu__background {
        transform: translateX(50vw) translateY(-50vw);
    }
    .intro__wrap .wrap__content {
        height: 200px;
    }
    .project__wrap,
    .story__wrap {
        width: 100vw;
        align-items: flex-start;
    }
    .project__wrap .listProject__item,
    .story__wrap .listStory__item {
        width: 100%;
    }
    .story__wrap .listStory__item {
        margin: 0px 0px 25px 0px;
    }
    .project__wrap .wrap__title,
    .story__wrap .wrap__title {
        padding: 10vh 15px 25px 15px;
    }
    .project__wrap .wrap__listProject,
    .story__wrap .wrap__listStory {
        width: 100%;
        padding: 0px 15px;
    }
    .project__wrap .boxText__text,
    .story__wrap .boxText__text {
        font-size: 9vh;
    }
    .project__wrap .item__imgProject,
    .story__wrap .item__imgStory {
        width: 100%;
        height: 55vh;
    }
    .project__wrap .item__imgProject:hover {
        clip-path: inset(0%);
    }
    .project__wrap .item__imgProject:hover .imgProject__img {
        transform: scale(1.0);
    }
    .project__wrap .img__nameProject {
        padding: 0px 0px 3vh 0px;
    }
    .headerWeb {
        bottom: 10px;
        left: 0;
        right: 0;
        top: unset;
        margin: auto;
    }
    .modalWeb .item__header {
       background: rgba(0,0,0,0.85);
    }
}

@media screen and (max-width: 992px) {
    .modalWeb .wrap__content {
        padding: 25px 0px;
    }
    .modalWeb .wrap__bgImg {
        height: 50vh;
    }
    .project__wrap .item__imgProject {
        width: 100%;
        height: 50vh;
    }
    .page {
        margin: 0px 0px 20vh 0px;
    }
    .modalWeb .bgImg__name {
        font-size: 5vh;
    }
}

/* SMALL DEVICE ROTATE */

@media screen and (orientation:landscape) and (max-width: 992px) {}

/* SMALL DEVICE */

@media screen and (max-width: 479px) {
    .pageWrap {
        flex-direction: column;
    }
    .menu.open .content__itemLink {
        left: 50px;
        font-size: 5vh;
    }
    .menu.open .menu__background {
        transform: translateX(70vw) translateY(-40vw);
    }
    .intro__wrap .img__title {
        font-size: 7vh;
    }
    .project__wrap .boxText__text,
    .story__wrap .boxText__text {
        font-size: 7vh;
    }
    .modalWeb .content__text {
        font-size: 1rem;
    }
    .modalWeb .content__img {
        margin: 0px 0px 25px 0px;   
    }
}

/* VERY SMALL */

@media screen and (max-width: 374px) {}