@media screen and (-webkit-min-device-pixel-ratio:0) {
    video{ -webkit-filter: brightness(102%); }
}
/* LARGE SCREEN */
@media screen and (min-width: 1824px) {
    #vdHomeLoop {
        width: 575px;
        object-fit: cover;
        margin: 80px 0px 0px 0px;
    }
    #vdHomeToContact {
        width: 630px;
        object-fit: cover;
    }
    #vdContactLoop {
        width: 630px;
        object-fit: cover;
    }
    #vdContactToHome {
        width: 630px;
        object-fit: cover;
    }
    #vdHomeToProject {
        width: 940px;
        object-fit: cover;
        transform: translate(-195px, -7px);
    }
    .video__homeToProject .removeBackgroundBefore {
        width: 940px;
        height: 726px;
        border-right : 55px solid #FFF;
        transform: translate(-180px, -5px);
    }
    .video__homeToProject .removeBackgroundAfter {
        width: 940px;
        height: 726px;
        border-left : 55px solid #FFF;
        transform: translate(-220px, -5px);
    }
    #vdProjectLoop {
        width: 505px;
        object-fit: cover;
        transform: translate(-107.5%, 3px);
    }
}
/* NORMAL SCREEN */
@media screen and (min-width: 1200px) {
    #vdHomeLoopMobile {
        display: none;
    }
}
/* MEDIUM SCREEN */
@media screen and (max-width: 1200px) {
    .cursor {
        display: none;
    }
    .headerWeb {
        padding: 0px 15px 0px 5px;
    }
    .footerWeb {
        padding: 0px 15px;
    }
    .headerWeb,
    .headerWeb__left .left__home,
    .headerWeb__left .home__logo,
    .headerWeb__left .left__sound,
    .headerWeb__right .right__contact,
    .footerWeb, 
    .footerWeb__left .left__story,
    .footerWeb__right .right__project {
        height: 60px;
    }
    .video__homeLoop #vdHomeLoop,
    .video__homeToContact,
    .video__contactLoop,
    .video__contactToHome {
        display: none;
    }
    .video__homeLoop {
        transition: 0.8s ease-in-out;
    }
    .video__homeLoop #vdHomeLoopMobile {
        margin: 0px;
        display: block;
    }
}
/* SMALL DEVICE ROTATE */
@media screen and (orientation:landscape) and (max-width: 992px) {
    #vdHomeLoopMobile {
        width: 200px;
    }
}
/* SMALL DEVICE */
@media screen and (max-width: 479px) {
    #vdHomeLoopMobile {
        width: 300px;
    }
}

/* VERY SMALL */
@media screen and (max-width: 374px) {
    #vdHomeLoopMobile {
        width: 250px;
    }
}