/* ---------------------- FONT WEB ---------------------- */
@font-face {
    font-family: Gilroy-Light;
    src: url("../font//Gilroy/Gilroy-Light.woff2");
}
@font-face {
    font-family: Gilroy-Bold;
    src: url("../font/Gilroy/Gilroy-Bold.otf");
}
/* ---------------------- HTML, BODY ---------------------- */
html, body {
    font-size: 62.5%;
    overflow: hidden;
    font-family: Gilroy-Light;
    cursor: none !important;
}
/* ---------------------- CUSTOM CSS ---------------------- */
.fullWeb {
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    opacity: 1;
    transition: 0.4s;
  }
::-webkit-scrollbar:hover {
    opacity: 1;
    transition: 0.4s;
}
::-webkit-scrollbar-track {
    background: #C5C7CD;
}
::-webkit-scrollbar-thumb {
    background: #161F38;
}
:hover {
    cursor: none !important;
}
:focus {
    cursor: none !important;
}
/* ---------------------- CURSOR ---------------------- */
.cursor {
    position: fixed;
    z-index: 99;
    transform: translate(-50%, -50%);
    pointer-events: none;
    will-change: transform;
    opacity: 1;
}
.cursor .cursor__wrap {
    position: relative;
    width: 5rem;
    height: 5rem;
    opacity: 1;
}
/* ---------------------- CURSOR POINT */
.cursor .cursor__point {
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor .point__default {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #F2DA87;
    border-radius: 100%;
    display: block;
    opacity: 1;
    position: relative;
    z-index: 3;
}
/* ---------------------- CURSOR BORDER */
.cursor .cursor__border {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
    will-change: transition, transform;
    z-index: 3;
}
.cursor .border__oval {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #F2DA87;
    display: flex;
    align-items: center;
    position: relative;
    visibility: hidden;
    opacity: 0;
}
.cursor .border__loading {
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #161f38;
    border-left-color: transparent;
    border-right-color: transparent;
    align-items: center;
    animation: circleLoading 2s linear infinite;
    visibility: visible;
    opacity: 1;
}
@keyframes circleLoading {
    0% {
        transform: rotate(180deg);
    }
    25% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(540deg);
    }
    75% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(900deg);
    }
}
/* ---------------------- HEADER WEB ---------------------- */
.headerWeb {
    position: fixed;
    z-index: 10;
    top : 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0px 25px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    will-change: transform;
}
/* ---------------------- HEADERWEB > LEFT */
.headerWeb__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.headerWeb__left .left__home {
    width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}
.headerWeb__left #homePage {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}
.headerWeb__left .home__logo {
    width: 60px;
    height: 100px;
    position: relative;
}
.headerWeb__left .logo__text {
    font-family: 'Gilroy-Light';
	animation: buildLogo 5s infinite alternate;
	stroke-width: 15;
    stroke: #161f38;
    font-size: 45rem;
    stroke-linecap: round;
    stroke-linejoin: round;
}
@keyframes buildLogo {
	0% {
        fill: transparent;
        stroke: #161f38;
        stroke-dashoffset: 50%;
        stroke-dasharray: 0 50%;
        stroke-width: 15;
	}
    50% {
        fill: transparent;
        stroke:#161f38;
        stroke-width: 15;
    }
	100% {
        fill: #161f38;
        stroke: #161f38; 
        stroke-dashoffset: -50%;
        stroke-dasharray: 50% 0;
        stroke-width: 15;
	}
}
.headerWeb__left .left__sound {
    width: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.headerWeb__left .sound__playPause {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.headerWeb__left .sound__music {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.headerWeb__left .sound__soundBar {
    width: 30px;
    height: 30px;
    stroke: #CCC;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.4s;
}
/* ---------------------- HEADERWEB > RIGHT */
.headerWeb__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.headerWeb__right .right__contact {
    min-width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.headerWeb__right #contactPage {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}
.headerWeb__right .contact__link {
    font-size: 1.8rem;
    font-family: 'Gilroy-Bold';
    color : #161f38;
    height: 100%;
    display: flex;
    align-items: center;
}
/* ---------------------- FOOTERWEB ---------------------- */
.footerWeb {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0px 25px 0px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* ---------------------- FOOTERWEB > LEFT */
.footerWeb__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footerWeb__left .left__story {
    min-width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative; 
}
.footerWeb__left #storyPage {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}
.footerWeb__left .story__link {
    font-size: 1.8rem;
    font-family: 'Gilroy-Bold';
    color : #161f38;
    height: 100%;
    display: flex;
    align-items: center;
}
/* ---------------------- FOOTERWEB > RIGHT */
.footerWeb__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footerWeb__right .right__project {
    min-width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative; 
}
.footerWeb__right #projectPage {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}
.footerWeb__right .project__link {
    font-size: 1.8rem;
    font-family: 'Gilroy-Bold';
    color : #161f38;
    height: 100%;
    display: flex;
    align-items: center;
}
/* ---------------------- VIDEO ---------------------- */
.video {
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.video__homeToProject .removeBackground {
    content: "";
    width: 640px;
    height: 482px;
    border-right : 15px solid #FFF;
    border-left : 15px solid #FFF;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    z-index: 1;
    transform: translate(-125px, -6px);
}
.video__projectToHome .removeBackground {
    content: "";
    width: 640px;
    height: 482px;
    border-right : 15px solid #FFF;
    border-left : 15px solid #FFF;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    z-index: 1;
    transform: translate(-78.5%, -6px);
}
/* ---------------------- VIDEO SCREEN  */
.video__intro,
.video__homeLoop,
.video__homeToContact,
.video__contactLoop,
.video__contactToHome,
.video__homeToProject,
.video__projectLoop,
.video__projectToHome {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video__intro,
.video__homeLoop,
.video__homeToContact,
.video__contactLoop,
.video__contactToHome,
.video__homeToProject,
.video__projectLoop,
.video__projectToHome  {
    z-index: 0;
    visibility: hidden;
    opacity: 0;
}
#vdIntro {
    width: 380px;
    object-fit: cover;
    margin: 55px 0px 0px 0px;
    will-change: transform;
}
#vdHomeLoop {
    width: 380px;
    object-fit: cover;
    margin: 55px 0px 0px 0px;
    will-change: transform;
}
#vdHomeLoopMobile {
    width: 380px;
    object-fit: cover;
    will-change: transform;
}
#vdHomeToContact {
    width: 415px;
    object-fit: cover;
    will-change: transform;
}
#vdContactLoop {
    width: 415px;
    object-fit: cover;
    transform : translate(-80%, 0%);
    will-change: transform;
}
#vdContactToHome {
    width: 415px;
    object-fit: cover;
    transform : translate(-80%, 0%);
    will-change: transform;
}
#vdHomeToProject {
    width: 625px;
    object-fit: cover;
    will-change: transform;
    transform: translate(-130px, -5px);
}
#vdProjectLoop {
    width: 335px;
    object-fit: cover;
    will-change: transform;
    transform: translate(-107.5%, 0px);
}
#vdProjectToHome {
    width: 625px;
    object-fit: cover;
    will-change: transform;
    transform: translate(-80%, 0px);
}
/* ---------------------- BACKGROUNDLOAD ---------------------- */
.backgroundLoad {
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
/* ---------------------- BACKGROUNDLOAD RESIZE */
.backgroundLoad .backgroundLoad__resize {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #F2DA87;
}
.backgroundLoad .backgroundLoad__resize .content__text {
    font-size: 2.5rem;
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
}
/* ---------------------- BACKGROUNDLOAD LOADWEB */
.backgroundLoad .backgroundLoad__loadWeb {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #F2DA87;
}
.backgroundLoad .backgroundLoad__loadWeb .content__text {
    font-size: 2.5rem;
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    color : #161F38;
}
.backgroundLoad .backgroundLoad__loadWeb .loadWeb__progress {
    height: 15px;
    width: 60vw;
    box-shadow: 0px 0px 0px 3px #161F38;
    border-radius: 50px;
    margin: 25px 0px 0px 0px;
}
.backgroundLoad .backgroundLoad__loadWeb .progress__load {
    height: 100%;
    width: 100%;
    background: #161F38;
    border-radius: 50px;
    animation: progress-animation 5s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
}
@keyframes progress-animation {
    0% {width: 0%;}
    20% {width: 10%;}
    40% {width: 30%;}
    50% {width: 60%;}
    100% {width: 100%;}
}
/* ---------------------- PAGE ---------------------- */
.mainWeb {
    position: fixed;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}
/* ---------------------- PAGE HOME */
/* ---------------------- PAGE CONTACT */
.contact {
    visibility: hidden;
    opacity: 0;
}
/* ---------------------- PAGE PROJECT */
.project {
    visibility: hidden;
    opacity: 0;
}
/* ---------------------- PAGE STORY */
.story {
    visibility: hidden;
    opacity: 0;
}