/* ---------------------- FONT WEB ---------------------- */

@font-face {
    font-family: Gilroy-Light;
    src: url("../font//Gilroy/Gilroy-Light.woff2");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("../font/Gilroy/Gilroy-Bold.otf");
}

/* ---------------------- HTML, BODY ---------------------- */
html, body {
    overflow: hidden;
    font-family: Gilroy-Light;
    cursor: none !important;
}
:hover {
    cursor: none !important;
}
:focus {
    cursor: none !important;
}
/* ---------------------- LOCOMOTIVE SCROLL ---------------------- */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.2;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}
/* ---------------------- FULLWEB ---------------------- */
.fullWeb {
    position: fixed;
}
/* ---------------------- HEADERWEB ---------------------- */
.headerWeb {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 58px;
    height: 58px;
    mix-blend-mode: difference;
    z-index: 9997;
    transition: 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerWeb .headerWeb__btnOpenMenu {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerWeb .btnOpenMenu__ic {
    width: 36px;
    height: 36px;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    border-radius: 100%;
}
.headerWeb .btnOpenMenu__ic rect {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s linear 0.1s;
}
.headerWeb .btnOpenMenu__ic path {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-29px);
    transition: all 0.4s linear 0.1s;
    stroke-width: 2;
}
.headerWeb .btnOpenMenu__ic.open rect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-29px);
}
.headerWeb .btnOpenMenu__ic.open path {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
/* ---------------------- MENU ---------------------- */
.menu {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s linear;
    z-index: 1000;
    visibility: hidden;
}
.menu .menu__background {
    background: #000;
    width: 0px;
    height: 240vw;
    opacity: 0;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: width .4s linear, transform .4s linear,opacity .4s linear;
    transform: none;
    z-index: 0;
}
.menu .menu__content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.menu .content__itemLink {
    position: relative;
    display: block;
    font-size: 5vh;
    color: #FFF;
    opacity: 0;
    left: 0px;
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    margin: 25px 0px;
}
.menu .content__itemLink:nth-child(1) {
    transition: all .4s ease-in-out;
}
.menu .content__itemLink:nth-child(2) {
    transition: all .4s ease-in-out .1s;
}
.menu .content__itemLink:nth-child(3) {
    transition: all .4s ease-in-out .2s;
}
.menu .content__itemLink:nth-child(4) {
    transition: all .4s ease-in-out .3s;
}
.menu.open {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    z-index: 3000;
    visibility: visible;
}
.menu.open .menu__background {
    width: 240vw;
    height: 240vw;
    opacity: 1;
    transform: translateX(120vw) translateY(-120vw);
    transition: width .5s linear .4s, transform .5s linear .4s,opacity .5s linear .4s;
}
.menu.open .content__itemLink {
    left: 150px;
    opacity: 1;
    font-size: 8vh;
}
.menu.open .content__itemLink:nth-child(1) {
    transition: all .4s ease-in-out .8s;
}
.menu.open .content__itemLink:nth-child(2) {
    transition: all .4s ease-in-out .9s;
}
.menu.open .content__itemLink:nth-child(3) {
    transition: all .4s ease-in-out 1s;
}
.menu.open .content__itemLink:nth-child(4) {
    transition: all .4s ease-in-out 1.1s;
}
/* ---------------------- CURSOR ---------------------- */
.cursor {
    position: fixed;
    top : 0;
    left: 0;
    width: 30px;
    height: 30px;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: 0.3s cubic-bezier(.44,.15,0,1.54) width,0.3s cubic-bezier(.44,.15,0,1.54) height;
}
.cursor .cursor__point {
    border: 4px solid #FFF;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: 0.3s background;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor.hoverLink {
    width: 80px;
    height: 80px;
}
.cursor.hoverLink .cursor__point {
    background: #FFF;
    transition: 0.3s background;
}
.cursor.hoverItem  {
    width: 100px;
    height: 100px;
}
.cursor.hoverItem .cursor__point {
    background: #FFF;
    filter: blur(3px);
    transition: 0.3s background;
}
/* ---------------------- FULLPAGE ---------------------- */
.pageWrap {
    display: flex;
    background : #FFF;
}
.page {
    position: relative;
    background: #FFF;
}
/* ---------------------- PAGE PROJECT ---------------------- */
.loading {
    background: #000;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    position: fixed;
    top : 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: translateY(0vh);
    will-change: transform;
    backface-visibility: hidden;
    overflow: hidden;
}
.loading .loading__content {
    color : #FFF;
    font-size: 4vh;
    font-family: Gilroy-Bold;
    display: none;
    transition: none;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0px 0px 0px 0.3rem;
}
/* ---------------------- PAGE INTRODUCE ---------------------- */
#introduce {
    background: #FFF;
    position: relative;
    display: flex;
    align-items: center;
}
.intro__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap__img {
    width: 40vw;
}
.intro__wrap .img__backgroundAvatar {
    width: 110vh;
    height: 110vh;
    border-radius: 63% 37% 50% 50% / 70% 68% 32% 30%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro__wrap .img__title {
    position: absolute;
    left: 120px;
    bottom : 25px;
    z-index: 3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 11vh;
    text-transform: uppercase;
    mix-blend-mode: difference;
}
.intro__wrap .wrap__content {
    width: 100vw;
    padding: 0px 35vw;
}
.intro__wrap .content__introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro__wrap .introduce__item {
    display: none;
}
.intro__wrap .item__imgIntro {
    position: absolute;
    left: 0;
    right : 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.intro__wrap .item__textIntro {
    font-size: 4vh;
    color : #000;
    position: relative;
    z-index: 2;
}
/* ---------------------- PAGE PROJECT ---------------------- */
#project {
    background: #FFF;
    position: relative;
}
.project__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project__wrap .wrap__title {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
}
.project__wrap .title__boxText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}
.project__wrap .boxText__text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: Gilroy-Bold;
    font-size: 11vh;
    text-transform: uppercase;
}
.project__wrap .wrap__listProject {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 0px 5vw;
}
.project__wrap .listProject__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px 25px;
}
.project__wrap .item__imgProject {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;
    position: relative;
    width: 65vh;
    height: 80vh;
    box-shadow: 0px 0px 7px 2px rgb(232 232 232 / 44%);
}
.project__wrap .imgProject__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__wrap .item__infoProject {
    width: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 5px 0px 0px 0px;
}
.project__wrap .item__infoProject:before {
    content: '';
    position: absolute;
    z-index: 0;
    background: #111;
    width: 100%;
    height: 100%;
}
.project__wrap .infoProject__name {
    letter-spacing: 0.1rem;
    transition: 0.8s cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: 0.2s;
    font-size: 3vh;
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    width: 100%;
    height: 8vh;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    mix-blend-mode: difference;
    padding: 0px 2vh;
}
.project__wrap .listProject__item:hover .item__imgProject {
    height: 80vh;
    transition: 0.8s cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: 0.2s;
}
/* ---------------------- PAGE STORY ---------------------- */
#story {
    background: #FFF;
    position: relative;
}
.story__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.story__wrap .wrap__title {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
}
.story__wrap .title__boxText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}
.story__wrap .boxText__text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: Gilroy-Bold;
    font-size: 11vh;
    text-transform: uppercase;
    mix-blend-mode: difference;
}
.story__wrap .wrap__listStory {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0px 0px 0px 5vw;
}
.story__wrap .listStory__item {
    width: calc(100vw / 3.5);
    height: 80vh;
    position: relative;
    margin: 0px 25px;
}
.story__wrap .item__imgStory {
    width: 100%;
    height: 100%;
    background : #161F38;
}
.story__wrap .imgStory__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position : center;
    background-repeat: no-repeat;
    transition: 0.6s background-position;
}
.story__wrap .item__nameStory {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
    position: absolute;
    top : 0;
    left: 0;
    padding: 0px 5vh;
}
.story__wrap .nameStory__text {
    color : #FFF;
    font-size: 4vh;
    pointer-events: none;
    text-shadow: 0px 2px 2px #000;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    line-height: 35px;
}
.story__wrap .listStory__item:hover .item__nameStory {
    background: rgba(0, 0, 0, 0.3);
}
.story__wrap .item__lineProgress {
    position: absolute;
    width: calc(100% - 10vh);
    height: 2px;
    background: #FFF;
    bottom: 50px;
    left: 5vh;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s;
    border-radius: 5px;
}
.story__wrap .listStory__item:hover .item__lineProgress {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}
/* ---------------------- MODAL WEB ---------------------- */
.modalWeb {
    position: fixed;
    z-index: 9998;
}
.modalWeb .toogleDarkLight {
    position: fixed;
    top : 0;
    top: 12.5px;
    right : 67.5px;
    width: 40px;
    height: 25px;
    z-index: 9999;
    opacity: 0;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap {
    background-color: #FFF;
    transition: 0.2s all;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap .content__text,
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap .content__text .text__link,
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap .content__text > p {
    color : #161F38;
    transition: 0.2s all;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .header__darklight {
    background: #FFF;
    border: 2px solid #161F38;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .darklight__circle {
    background: #161F38;
    left: 15px;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .header__close {
    background: #FFF;
    border: 2px solid #161F38;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .header__close .close__btn {
    stroke: #161F38;
}
.modalWeb .modalWeb__item {
    position: fixed;
    background-color: #161F38;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transform: translateY(100vh);
    transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    will-change: transform;
    backface-visibility: hidden;
}
.modalWeb .modalWeb__item:target {
    visibility: visible;
    opacity: 1;
    transform: translateY(0vh);
}
.modalWeb .item__header {
    height: 50px;
    background: transparent;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 15px;
    transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    z-index: 2;
}
.modalWeb .close__btn {
    width: 16px;
    height: 16px;
    stroke: #FFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    border-radius: 100%;
}
.modalWeb .header__close {
    background: #161F38;
    width: 40px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFF;
    transition: all 0.2s linear;
    margin: 0px 0px 0px 12.5px;
}
.modalWeb .header__darklight {
    background: #161F38;
    width: 40px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFF;
}
.modalWeb .darklight__circle {
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 25px;
    position: absolute;
    left: 6px;
    transition: all 0.2s linear;
}
.modalWeb .wrap__bgImg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}
.modalWeb .wrap__bgImg:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.modalWeb .wrap__bgVideo {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
}
.modalWeb .wrap__bgVideo:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.modalWeb .bgVideo__video {
    width: 100%;
}
.modalWeb .item__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
}
.modalWeb .content__wrap {
    width: 100%;
    height: 100vh;
    background: #161F38;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.2s all;
}
.modalWeb .content__wrap::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
  }
.modalWeb .content__wrap::-webkit-scrollbar-track {
    background: #161F38;
}
.modalWeb .content__wrap::-webkit-scrollbar-thumb {
    background: #000;
}
.modalWeb .wrap__content {
    padding: 50px;
}
.modalWeb .content__text {
    line-height: 30px;
    color : #FFF;
    font-size: 1.25rem;
    margin: 0px 0px 50px 0px;
    transition: 0.2s all;
}
.modalWeb .content__img {
    width: 100%;
    margin: 0px 0px 50px 0px;
    border-radius: 18px;
}
.modalWeb .text__link {
    padding: 0px 5px;
    text-decoration: underline;
    color : #FFF;
    font-size: 1.25rem;
}
.modalWeb .content__video {
    width: 100%;
    border-radius: 18px;
    margin: 0px 0px 25px 0px;
}
.modalWeb .bgImg__name {
    position: relative;
    font-size: 7vh;
    color : #FFF;
    font-family: Gilroy-Bold;
    z-index: 3;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}
.modalWeb .content__text > p {
    line-height: 30px;
    color : #FFF;
    font-size: 1.25rem;
    margin: 0px 0px 25px 0px;
    transition: 0.2s all;
}
/* https://ckeditor.com/ckeditor-4/demo/ */