
/* ---------------------- FONT WEB ---------------------- */

@font-face {
    font-family: Gilroy-Light;
    src: url("../font//Gilroy/Gilroy-Light.woff2");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("../font/Gilroy/Gilroy-Bold.otf");
}

/* ---------------------- HTML, BODY ---------------------- */
html, body {
    overflow: hidden;
    font-family: Gilroy-Light;
    cursor: none !important;
}
:hover {
    cursor: none !important;
}
:focus {
    cursor: none !important;
}
/* ---------------------- LOCOMOTIVE SCROLL ---------------------- */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    -webkit-transform-origin: center right;
        -ms-transform-origin: center right;
            transform-origin: center right;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    -webkit-transform: scaleX(1.45);
        -ms-transform: scaleX(1.45);
            transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    -webkit-transform: scaleY(1.3);
        -ms-transform: scaleY(1.3);
            transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.2;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}
/* ---------------------- FULLWEB ---------------------- */
.fullWeb {
    position: fixed;
}
/* ---------------------- HEADERWEB ---------------------- */
.headerWeb {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 58px;
    height: 58px;
    mix-blend-mode: difference;
    z-index: 9997;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.headerWeb .headerWeb__btnOpenMenu {
    width: 58px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.headerWeb .btnOpenMenu__ic {
    width: 36px;
    height: 36px;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    border-radius: 100%;
}
.headerWeb .btnOpenMenu__ic rect {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 0.4s linear 0.1s;
    -o-transition: all 0.4s linear 0.1s;
    transition: all 0.4s linear 0.1s;
}
.headerWeb .btnOpenMenu__ic path {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-29px);
        -ms-transform: translateY(-29px);
            transform: translateY(-29px);
    -webkit-transition: all 0.4s linear 0.1s;
    -o-transition: all 0.4s linear 0.1s;
    transition: all 0.4s linear 0.1s;
    stroke-width: 2;
}
.headerWeb .btnOpenMenu__ic.open rect {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-29px);
        -ms-transform: translateY(-29px);
            transform: translateY(-29px);
}
.headerWeb .btnOpenMenu__ic.open path {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
/* ---------------------- MENU ---------------------- */
.menu {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    z-index: 1000;
    visibility: hidden;
}
.menu .menu__background {
    background: #000;
    width: 0px;
    height: 240vw;
    opacity: 0;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-transition: width .4s linear, opacity .4s linear, -webkit-transform .4s linear;
    transition: width .4s linear, opacity .4s linear, -webkit-transform .4s linear;
    -o-transition: width .4s linear, transform .4s linear,opacity .4s linear;
    transition: width .4s linear, transform .4s linear,opacity .4s linear;
    transition: width .4s linear, transform .4s linear,opacity .4s linear, -webkit-transform .4s linear;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 0;
}
.menu .menu__content {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.menu .content__itemLink {
    position: relative;
    display: block;
    font-size: 5vh;
    color: #FFF;
    opacity: 0;
    left: 0px;
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    margin: 25px 0px;
}
.menu .content__itemLink:nth-child(1) {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.menu .content__itemLink:nth-child(2) {
    -webkit-transition: all .4s ease-in-out .1s;
    -o-transition: all .4s ease-in-out .1s;
    transition: all .4s ease-in-out .1s;
}
.menu .content__itemLink:nth-child(3) {
    -webkit-transition: all .4s ease-in-out .2s;
    -o-transition: all .4s ease-in-out .2s;
    transition: all .4s ease-in-out .2s;
}
.menu .content__itemLink:nth-child(4) {
    -webkit-transition: all .4s ease-in-out .3s;
    -o-transition: all .4s ease-in-out .3s;
    transition: all .4s ease-in-out .3s;
}
.menu.open {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    z-index: 3000;
    visibility: visible;
}
.menu.open .menu__background {
    width: 240vw;
    height: 240vw;
    opacity: 1;
    -webkit-transform: translateX(120vw) translateY(-120vw);
        -ms-transform: translateX(120vw) translateY(-120vw);
            transform: translateX(120vw) translateY(-120vw);
    -webkit-transition: width .5s linear .4s, opacity .5s linear .4s, -webkit-transform .5s linear .4s;
    transition: width .5s linear .4s, opacity .5s linear .4s, -webkit-transform .5s linear .4s;
    -o-transition: width .5s linear .4s, transform .5s linear .4s,opacity .5s linear .4s;
    transition: width .5s linear .4s, transform .5s linear .4s,opacity .5s linear .4s;
    transition: width .5s linear .4s, transform .5s linear .4s,opacity .5s linear .4s, -webkit-transform .5s linear .4s;
}
.menu.open .content__itemLink {
    left: 150px;
    opacity: 1;
    font-size: 8vh;
}
.menu.open .content__itemLink:nth-child(1) {
    -webkit-transition: all .4s ease-in-out .8s;
    -o-transition: all .4s ease-in-out .8s;
    transition: all .4s ease-in-out .8s;
}
.menu.open .content__itemLink:nth-child(2) {
    -webkit-transition: all .4s ease-in-out .9s;
    -o-transition: all .4s ease-in-out .9s;
    transition: all .4s ease-in-out .9s;
}
.menu.open .content__itemLink:nth-child(3) {
    -webkit-transition: all .4s ease-in-out 1s;
    -o-transition: all .4s ease-in-out 1s;
    transition: all .4s ease-in-out 1s;
}
.menu.open .content__itemLink:nth-child(4) {
    -webkit-transition: all .4s ease-in-out 1.1s;
    -o-transition: all .4s ease-in-out 1.1s;
    transition: all .4s ease-in-out 1.1s;
}
/* ---------------------- CURSOR ---------------------- */
.cursor {
    position: fixed;
    top : 0;
    left: 0;
    width: 30px;
    height: 30px;
    z-index: 9999;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    -webkit-transition: 0.3s cubic-bezier(.44,.15,0,1.54) width,0.3s cubic-bezier(.44,.15,0,1.54) height;
    -o-transition: 0.3s cubic-bezier(.44,.15,0,1.54) width,0.3s cubic-bezier(.44,.15,0,1.54) height;
    transition: 0.3s cubic-bezier(.44,.15,0,1.54) width,0.3s cubic-bezier(.44,.15,0,1.54) height;
}
.cursor .cursor__point {
    border: 4px solid #FFF;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
    transition: 0.3s background;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cursor.hoverLink {
    width: 80px;
    height: 80px;
}
.cursor.hoverLink .cursor__point {
    background: #FFF;
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
    transition: 0.3s background;
}
.cursor.hoverItem  {
    width: 100px;
    height: 100px;
}
.cursor.hoverItem .cursor__point {
    background: #FFF;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transition: 0.3s background;
    -o-transition: 0.3s background;
    transition: 0.3s background;
}
/* ---------------------- FULLPAGE ---------------------- */
.pageWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background : #FFF;
}
.page {
    position: relative;
    background: #FFF;
}
/* ---------------------- PAGE PROJECT ---------------------- */
.loading {
    background: #000;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    position: fixed;
    top : 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0vh);
        -ms-transform: translateY(0vh);
            transform: translateY(0vh);
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
}
.loading .loading__content {
    color : #FFF;
    font-size: 4vh;
    font-family: Gilroy-Bold;
    display: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0px 0px 0px 0.3rem;
}
/* ---------------------- PAGE INTRODUCE ---------------------- */
#introduce {
    background: #FFF;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.intro__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.wrap__img {
    width: 40vw;
}
.intro__wrap .img__backgroundAvatar {
    width: 110vh;
    height: 110vh;
    border-radius: 63% 37% 50% 50% / 70% 68% 32% 30%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    background: #000;
    -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro__wrap .img__title {
    position: absolute;
    left: 120px;
    bottom : 25px;
    z-index: 3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 11vh;
    text-transform: uppercase;
    mix-blend-mode: difference;
}
.intro__wrap .wrap__content {
    width: 100vw;
    padding: 0px 35vw;
}
.intro__wrap .content__introduce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.intro__wrap .introduce__item {
    display: none;
}
.intro__wrap .item__imgIntro {
    position: absolute;
    left: 0;
    right : 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.intro__wrap .item__textIntro {
    font-size: 4vh;
    color : #000;
    position: relative;
    z-index: 2;
}
/* ---------------------- PAGE PROJECT ---------------------- */
#project {
    background: #FFF;
    position: relative;
}
.project__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.project__wrap .wrap__title {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 5vw;
}
.project__wrap .title__boxText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 50px;
}
.project__wrap .boxText__text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    font-family: Gilroy-Bold;
    font-size: 11vh;
    text-transform: uppercase;
}
.project__wrap .wrap__listProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
    padding: 0px 5vw;
}
.project__wrap .listProject__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    margin: 0px 25px;
}
.project__wrap .item__imgProject {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    position: relative;
    width: 45vw;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 7px 2px rgb(232 232 232 / 44%);
            box-shadow: 0px 0px 7px 2px rgb(232 232 232 / 44%);
    overflow: hidden;
}
.project__wrap .imgProject__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.project__wrap .item__infoProject {
    width: calc(100% - 4vh);
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15vh;
    position: absolute;
    bottom: 5vh;
    left: 2vh;
    z-index: 2;
    overflow: hidden;
    margin: 5px 0px 0px 0px;
    border-radius: 2vh;
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
.project__wrap .infoProject__name {
    letter-spacing: 0.1rem;
    -webkit-transition: 0.8s cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition: 0.8s cubic-bezier(0.8, 0, 0.2, 1);
    transition: 0.8s cubic-bezier(0.8, 0, 0.2, 1);
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
    font-size: 3.5vh;
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    width: 100%;
    height: 8vh;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0px 3vh;
    z-index: 3;
}
.project__wrap .infoProject__tech {
    width: 100%;
    padding: 0px 3vh;
    height: 5vh;
}
/* ---------------------- MODAL WEB ---------------------- */
.modalWeb {
    position: fixed;
    z-index: 9998;
}
.modalWeb .toogleDarkLight {
    position: fixed;
    top : 0;
    top: 12.5px;
    right : 67.5px;
    width: 40px;
    height: 25px;
    z-index: 9999;
    opacity: 0;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap {
    background-color: #FFF;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap .content__text,
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap .content__text .text__link,
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__content .content__wrap .content__text > p {
    color : #161F38;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .header__darklight {
    background: #FFF;
    border: 2px solid #161F38;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .darklight__circle {
    background: #161F38;
    left: 15px;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .header__close {
    background: #FFF;
    border: 2px solid #161F38;
}
.modalWeb .toogleDarkLight:checked ~ .modalWeb__item .item__header .header__close .close__btn {
    stroke: #161F38;
}
.modalWeb .modalWeb__item {
    position: fixed;
    background-color: #161F38;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    -webkit-transform: translateY(100vh);
        -ms-transform: translateY(100vh);
            transform: translateY(100vh);
    -webkit-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.modalWeb .modalWeb__item:target {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0vh);
        -ms-transform: translateY(0vh);
            transform: translateY(0vh);
}
.modalWeb .item__header {
    height: 50px;
    background: transparent;
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px 15px;
    -webkit-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
    z-index: 2;
}
.modalWeb .close__btn {
    width: 16px;
    height: 16px;
    stroke: #FFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    border-radius: 100%;
}
.modalWeb .header__close {
    background: #161F38;
    width: 40px;
    height: 30px;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #FFF;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin: 0px 0px 0px 12.5px;
}
.modalWeb .header__darklight {
    background: #161F38;
    width: 40px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #FFF;
}
.modalWeb .darklight__circle {
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 25px;
    position: absolute;
    left: 6px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.modalWeb .wrap__bgImg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 50px;
}
.modalWeb .wrap__bgImg.story:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 1;
}
.modalWeb .wrap__bgVideo {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
}
.modalWeb .bgVideo__video {
    width: 100%;
}
.modalWeb .item__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
}
.modalWeb .content__wrap {
    width: 100%;
    height: 100vh;
    background: #161F38;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    padding: 0px 0px 100px 0px;
}
.modalWeb .content__wrap::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
  }
.modalWeb .content__wrap::-webkit-scrollbar-track {
    background: #161F38;
}
.modalWeb .content__wrap::-webkit-scrollbar-thumb {
    background: #000;
}
.modalWeb .wrap__content {
    padding: 50px;
}
.modalWeb .content__text {
    line-height: 30px;
    color : #FFF;
    font-size: 1.25rem;
    margin: 0px 0px 50px 0px;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
.modalWeb .content__img {
    width: 100%;
    margin: 0px 0px 50px 0px;
    border-radius: 18px;
}
.modalWeb .text__link {
    padding: 0px 5px;
    text-decoration: underline;
    color : #FFF;
    font-size: 1.25rem;
}
.modalWeb .content__video {
    width: 100%;
    border-radius: 18px;
    margin: 0px 0px 25px 0px;
}
.modalWeb .bgImg__name {
    position: relative;
    font-size: 7vh;
    color : #FFF;
    font-family: Gilroy-Bold;
    z-index: 3;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}
.modalWeb .content__text > p {
    line-height: 30px;
    color : #FFF;
    font-size: 1.25rem;
    margin: 0px 0px 25px 0px;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}
/* https://ckeditor.com/ckeditor-4/demo/ */